.login-container {
    width: 100%;
}

.login-head {
    width: 100%;
    border-bottom: solid 1px #a2a9b1;
    padding-bottom: 4px;
}

.login-head h2 {
    font-weight: 500;
}

.login-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.login-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login-field label {
    font-weight: 600;
    font-size: 14px;
}

.login-btn {
    padding: 6px 10px;
    background-color: #000000;
    border: solid 1px #000000;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.error-wr {
    background-color: #f8d7da;
    padding: 10px;
    width: 300px;
    border-radius: 2px;
    margin-top: 20px;
}

.error-wr p {
    font-size: 14px;
    color: red;
}