.register-container {
    width: 100%;
}

.register-head {
    width: 100%;
    border-bottom: solid 1px #a2a9b1;
    padding-bottom: 4px;
}

.register-head h2 {
    font-weight: 500;
}

.register-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.register-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.register-field label {
    font-weight: 600;
    font-size: 14px;
}

.register-btn {
    padding: 6px 10px;
    background-color: #000000;
    border: solid 1px #000000;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}