<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="navbar" class="navbar">
        <div class="navbar-container">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="">
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        Nổi bật
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>